:root {
  --primarycolor: #353535;
  --secondColor: #514a9d;
  --black: #000;
  --white: #fff;
  --backgroundText: rgba(0, 0, 0, 0.8);
}

/* ----------------- contenedor -----------------------  */
.glider__contain {
  position: relative;
  margin: 0 3.125rem;
  margin-top: 6.25rem;
}
.glider-slide {
  background: var(--black);
}

.glider__prev,
.glider__next {
  position: absolute;
  font-size: 40px;
  border: none;
  top: calc(50% - 2.1875rem);
  cursor: pointer;
  line-height: 1.875rem;
  text-align: center;
  background: none;
  color: var(--white);
  opacity: 20%;
}

.glider__prev:hover,
.glider__next:hover {
  opacity: 100%;
}

.glider__prev {
  left: -2.5rem;
}

.glider__next {
  right: -2.5rem;
}

.glider__list {
  overflow: hidden;
}

.glider__element {
  position: relative;
  text-align: center;
  background: var(--black);
  opacity: 1;
}

.glider__element-title {
  color: var(--white);
  position: absolute;
  visibility: hidden;
  z-index: 99;
}

.glider__element:hover img {
  filter: brightness(40%);
  transition: 0.3s ease;
}

.glider__element:hover,
.glider__element:hover p {
  visibility: visible;
  transition: all 0.5s ease;
}

.glider-dot {
  outline: none;
  border: none;
}

.glider__dots .glider-dot.active {
  background: var(--secondColor);
}

@media screen and (max-width: 430px) {
  .glider-slide {
    min-height: 12rem;
  }
  .glider-slide img {
    height: 12rem !important;
  }
  .glider__element {
    width: 80px;
  }
  .glider__prev,
  .glider__next {
    font-size: 25px;
  }
}

@media screen and (max-width: 380px) {
  .glider-slide {
    min-height: 10.5rem;
  }
  .glider-slide img {
    height: 10.5rem !important;
  }
  .glider__prev,
  .glider__next {
    font-size: 16px;
  }

  .glider__prev {
    left: -2rem;
  }

  .glider__next {
    right: -2rem;
  }
}

@media screen and (max-width: 770px) {
  .glider__element-title {
    position: absolute;
    visibility: visible;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--backgroundText);
    padding: 5px;
  }
}
