:root {
  --primarycolor: #353535;
  --secondColor: #514a9d;
  --black: #000;
  --white: #fff;
  --backgroundText: rgba(0, 0, 0, 0.8);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(8, 8, 8);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ----------------- scroll -----------------------  */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondColor);
  border-radius: 10px;
}

/* ----------------- spiner loader -----------------------  */

.container__load {
  position: relative;
  width: 100vw;
  height: 85vh;
}

.loader {
  position: absolute;
  border: 4px solid var(--white);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: transparent;
  margin: auto;
  animation: spin 1s linear infinite;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ----------------- contenedor -----------------------  */
.glider__contain {
  position: relative;
  margin: 0px 50px;
  margin-top: 100px;
}
.glider-slide {
  background: var(--black);
}

.glider__prev,
.glider__next {
  position: absolute;
  font-size: 40px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: var(--white);
  opacity: 20%;
}

.glider__prev:hover,
.glider__next:hover {
  opacity: 100%;
}

.glider__prev {
  left: -40px;
}

.glider__next {
  right: -40px;
}

.glider__list {
  overflow: hidden;
}

.glider__element {
  position: relative;
  text-align: center;
  background: var(--black);
  opacity: 1;
}

.glider__element p {
  color: var(--white);
  position: absolute;
  visibility: hidden;
  z-index: 99;
}

.glider__element:hover img {
  filter: brightness(40%);
  transition: 0.3s ease;
}

.glider__element:hover,
.glider__element:hover p {
  visibility: visible;
  transition: all 0.5s ease;
}

.glider__dots .glider-dot.active {
  background: var(--secondColor);
}

/* --------------- infoanime -----------------------*/

.infoanime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 50px;
}

.infoanime__sec1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--white);
}

.infoanime__sec1 img {
  width: 280px;
  height: 400px;
}

.infoanime__sec1 p {
  text-align: justify;
}

.infoanime__sec1 > div {
  margin-left: 50px;
}

.infoanime__sec1 h3 {
  font-size: 30px;
}

.infoanime__genres {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoanime__genres-p {
  margin-right: 10px;
}

.infoanime__listgenres {
  display: flex;
  flex-direction: row;
}

.infoanime__item-genre {
  margin-right: 10px;
  background: var(--primarycolor);
  padding: 5px;
  border-radius: 10px;
}

.infoanime__item-genre:hover {
  background: var(--secondColor);
  cursor: pointer;
  transition: all 0.5s;
}

.iframe {
  margin-top: 50px;
  width: 100%;
}

/* ----------- top anime -------------------*/

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.top__anime {
  position: relative;
  width: 220px;
  height: 320px;
  cursor: pointer;
  margin-top: 50px;
}

.top__anime-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.top__anime-title {
  position: absolute;
  color: var(--white);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--backgroundText);
  padding: 5px;
}

.top__anime-rank {
  position: absolute;
  visibility: hidden;
  color: var(--white);
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  font-size: 80px;
  transition: visibility 0.1s ease-in-out;
}

.top__anime:hover .top__anime-rank {
  visibility: visible;
}

.top__anime:hover .top__anime-img {
  filter: brightness(40%);
}

.top__score {
  display: flex;
  align-items: center;
}

.top__score-text {
  color: var(--white);
  margin-left: 10px;
}

/* ------------------ star -------------------*/
.star {
  display: flex;
  justify-content: space-between;
  color: var(--secondColor);
}

.star__icon {
  margin-right: 5px;
}

/* ------------------ dropdown -------------------*/
.dropdown {
  width: 15rem;
  position: relative;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-select {
  padding: 1rem;
  border-radius: 4px;
  background: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-list {
  border-radius: 4px;
  background: var(--white);
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list__item {
  padding: 1rem;
  font-size: 1rem;
}
